pipeline/PowebiRefresh.json
{
	"name": "PowebiRefresh",
	"properties": {
		"description": "power bi data set refresh",
		"activities": [
			{
				"name": "Get ClientId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://azdev-kv-powerbi2021.vault.azure.net/secrets/ClientId?api-version=7.1",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Client Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://azdev-kv-powerbi2021.vault.azure.net/secrets/ClientSecret?api-version=7.1",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Tenant Id",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://azdev-kv-powerbi2021.vault.azure.net/secrets/TenantId?api-version=7.1",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get AAD Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get ClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Client Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Tenant Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/',activity('Get Tenant Id').output.value,'/oauth2/token')\n",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/x-www-form-urlencoded",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=',activity('Get ClientId').output.value,'&client_secret=',encodeUriComponent(activity('Get Client Secret').output.value))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Refresh Power BI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get AAD Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://api.powerbi.com/v1.0/myorg/groups/991c312f-c2b8-49a4-9c5c-b978f9cb4792/datasets/c312a006-9934-4084-a52b-ba6532ed284b/refreshesc09",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n  \"notifyOption\": \"MailOnFailure\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Power BI Refresh -LogicApps",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get AAD Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.northcentralus.logic.azure.com:443/workflows/726c6f999ccb4e65b39cf124f951ed4b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=sm97nvCVNxotmO_gJKh3IZOwdij9JCTazTYqROq_3UI",
					"method": "POST",
					"body": []
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-02-24T22:56:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}